@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat';
    font-size: 18;
    height: 100%;
    font-weight: 400;
    padding: 0 15px;
}

#root{
    display: flex;
    justify-content: center;
}
.App{
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 150px;
    padding-bottom: 150px;
}

.title{
    text-align: center;
    font-weight: 100;
    font-size: 28px;
    color: #575757;

}

